
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page{
  padding: 0;
}
//for Post create Form
.post_create form{
  padding: 20px 15px;
  border-radius: 5px;
  border: 15px #9d9d9d solid;
}
